.container {
    display: flex;
    flex-direction: row;

}

#article-one{
    border: red solid 1px;
    width: 50%;
    min-height: 1em;
}

#article-two {
    border: blue solid 1px;
    width: 50%;
    min-height: 1em;
}

.disabled{

    color: red;
    font-size: 2em;
}

.enabled{
    color: blue;
    background: red;
    font-size:2.5em;
    
}