.container {
    display: flex;
    flex-direction: row;

}

#article-one{
    border: red solid 1px;
    width: 50%;
    min-height: 1em;
}

#article-two {
    border: blue solid 1px;
    width: 50%;
    min-height: 1em;
}

.disabled{

    color: red;
    font-size: 2em;
}

.enabled{
    color: blue;
    background: red;
    font-size:2.5em;

}

#containerx {
    display: flex;
    min-height: 1500px;
  }

  
  #audrey {
    background-color: purple;
    color: snow;
    min-height: 100px;
    min-width: 50px;
    position: fixed;
  }
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

  .card{
      display: flex;
      flex-direction: column;

    background: lightblue;
    color: #F00000;
    width: 100px;
    height: 200px;
    border: black solid 1px;
  }

  .delete{
      width: 75%;
      height: 25%;
      background: red;
      color: snow;
      justify-content: flex-end;
      
  }
  .selected {
      background: yellow;
      color: green;

  }
  